# This is Git's per-user configuration file.
[user]
	name = Bhushan
	email = Bhushan@gmail.com
# Please adapt and uncomment the following lines:
#	name = root
#	email = root@ip-172-31-6-225.ap-south-1.compute.internal
